---
import { Image } from 'astro:assets';
import { Availability } from '../types';

export interface Props {
    title: string;
    description: string;
    url: string;
    price: number;
    includePriceOnSite: boolean;
    image: string;
    availability: Availability;
}

const { title, description, url, price, includePriceOnSite, image, availability } = Astro.props;

const badgeColors = {
    [Availability.Available]: "bg-green-700",
    [Availability.Reserved]: "bg-purple-700",
    [Availability.Sold]: "bg-orange-700",
};
---
<a
    href={url}
    target="_blank"
    rel="noopener noreferrer"
    aria-label={`Shop ${title}`}
    data-umami-event={`ProductLink:click`}
    data-umami-event-title="${title}"
    data-umami-event-description="${description}"
    data-umami-event-url="${url}"
    data-umami-event-price="${price}"
    data-umami-event-includePriceOnSite="${includePriceOnSite}"
    data-umami-event-availability="${availability}"
    class="block w-full md:max-w-[50vw] mx-auto bg-white shadow-sm rounded-lg overflow-hidden hover:shadow-md transition duration-300 border-solid border border-slate-950"
>
    <div class="relative flex p-3">
        <!-- Availability Badge -->
        <div class={`absolute top-2 right-2 px-2 py-1 rounded-md text-white text-xs ${badgeColors[availability]}`}>
            {availability}
        </div>
        <Image
            src={image}
            alt={title}
            width={128}
            height={128}
            class="flex-none w-16 h-16 object-cover rounded-md mr-4"
            loading="lazy"
        />
        <div class="flex-grow flex flex-col justify-between">
            <div>
                <h1 class="text-base font-medium">{title}</h1>
                <p class="text-xs text-gray-600">{description}</p>
            </div>
            {includePriceOnSite && (
                <div class="text-base font-medium text-black">${price.toFixed(2)}</div>
            )}
        </div>
    </div>
</a>