---
import config from '../configs/config.js';
import {Image} from 'astro:assets';
---

<div class="text-center">
    <Image
            src={config.user.profileImage}
            alt={config.user.name}
            width={256}
            height={256}
            class="w-36 h-36 rounded-full mx-auto mb-4 shadow-sm border-solid border-2 border-blue-300"
            loading="eager"
    />
    <h1 class="text-4xl font-extrabold tracking-wide">{config.user.name}</h1>
    <p class="text-gray-700 py-2 front-semibold tracking-wide">{config.user.bio}</p>
</div>
