---
import '../styles/global.css';
import config from '../configs/config.js';

export interface Props {
    title: string;
    description: string;
    image?: string; // Optional image for OG
}

const {title, description, image} = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width"/>
    <meta name="generator" content={Astro.generator}/>
    <title>{title}</title>
    <meta name="description" content={description}/>
    <meta name="robots" content="/favicon/sitemap-index.xml"/>

    <!-- Open Graph Metadata for Social Sharing -->
    <meta property="og:title" content={title}/>
    <meta property="og:description" content={description}/>
    <meta property="og:type" content="website"/>
    <meta property="og:url" content={Astro.url.origin}/>
    <meta property="og:image" content={image || '/preview.jpg'}/>

    <!-- Twitter Card Metadata -->
    <meta name="twitter:card" content={image || '/preview.jpg'}/>
    <meta name="twitter:title" content={title}/>
    <meta name="twitter:description" content={description}/>
    <meta name="twitter:image" content={image || '/preview.jpg'}/>

    <meta name="theme-color" content="#93c5fd">
    <link rel="manifest" href="/manifest.json">
    <link rel="apple-touch-icon" sizes="180x180" href="/favicons/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicons/favicon-16x16.png">
    <link rel="manifest" href="/favicons/site.webmanifest">
    <script defer src="https://cloud.umami.is/script.js" data-website-id={import.meta.env.UMAMI_ID}></script>
    <link rel="sitemap" href="/sitemap-index.xml"/>
    </head>
    <body
    class="min-h-screen"
    style={`
      background-color: ${config.background.color};
      background-image: url(${config.background.image});
      background-size: cover; /* This will make the image cover the entire background */
      background-repeat: no-repeat; /* This will prevent the image from repeating */
      background-position: center center; /* This will center the image */
    `}
    >
    <slot />
    </body>
    </html>
